* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

section {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-top: 90px;
}

article {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: black 1px dotted;
}

img {
  height: 150px;
}